*{
    margin: 0px;  
    padding: 0px;   
}

html,body{    
    width: 100%;
    height: 100%;     
    background-size:100%;  
}

/* obejeto principal */
#root{
    width: 100%;
    height: 100%;   
}

/* ----------------- */

/* Lista de todos os paises */
.grupo{
    width: 60%;
    height: 90%;
    margin-left: 20%;  
}
/* -------Fim lista de todos os paises */


.img-lista{
   
    margin-left: 2%;            
    margin-top: 2%;   
    background-image: cover;
    filter: drop-shadow(10px 10px 10px );
}

.pais-final{
    width: 70%;
    height: 55%;  
    margin-left:15%;
    margin-top: 10%;
    filter: drop-shadow(10px 10px 10px)
}


/* Menu */
.painel{
    width:15% ;
    float: left;    
}

.menu{   
    margin-top: 1.1%;
    margin-left: 1%;   
    height:100%; 
}

/* ------Fim Menu------  */

.Apresentar{
    width: 100%;
    height: 100%;
    display: block;
}

.Esconder{
    display: none;
}

.img-lista-total{
    background-size: cover;
    width: 22%;
    height: 22%; 
    margin-left: 2%;            
    margin-top: 2%;  
}

h1{
font-family: 'Chewy', cursive;
text-align: center;
}

.espace{
   margin-top: 10px;
}

.caixa-progresso{
    margin-top: 10px;
}

/* porcetagem da barra de progresso */

.progresso-0{
    width: 0%;    
}

.progresso-25{
    width: 25%;    
}

.progresso-50{
    width: 50%;    
}

.progresso-75{
    width: 75%;    
}

.progresso-100{
    width: 100%;    
}

/* Final porcetagem da barra de progresso */


.margem{
    margin-top: 20px;
}

.alterar{
    margin-bottom:10px ;
}

